{% if numactive(oauth_clients()) == 1 %}
<!-- Only one OAuth provider active and no local users. Auto redirect -->
<script type="text/javascript">
    window.location.href = "{{ url_for('sso.sso_oauth', client_id=oauth_clients()[0].id) }}";
</script>
{% else %}
{% for client in oauth_clients() %}
  {% if client.enabled %}
<style>.btn-{{ client.id }} { background-color: {{ client.color }}; color: #ffffff }</style>
<a class="btn btn-{{ client.id }} btn-lg btn-block" color="{{client.color }}" href="{{ url_for('sso.sso_oauth', client_id=client.id) }}">
    Log in with {{ client.name }}
</a>
  {% endif %}
<hr>
{% endfor %}
{% endif %}
